<link rel="stylesheet" href="/css/footer.css">
<section id="main-footer">
    <a href="https://www.codingninjas.com/">codingninjas.com</a>
    <div id="social-community">
        <a href="">facebook</a>
        <a href="">github</a>
        <a href="">stackoverflow</a>
    </div>
</section>