<link rel="stylesheet" href="/css/header.css">
    
<h1>sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" value="sign-in">
</form>
<a href="/users/reset-page">Reset</a>
<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>